/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #dbe0f7;
}
/* Navbar Styles */
.navbar-signinp {
    position: absolute;
    top: 0;
    width: 100%;
    background: #010000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
  display: flex;
    align-items: center;
    color: white; /* Keep text color white for contrast */
    font-size: x-large;
    font-weight: bold;
    background-color: black !important; /* Force black background */
    padding: 5px 10px;
    border-radius: 5px; /* Optional */
}

.nav-links-signinp {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  margin-right: -10px;
} 

.nav-links-signinp li {
  display: inline;
}

.nav-links-signinp a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    margin-left: 0px;
    margin-top: 50px;
}

.login-btn-signinp {
    background: rgb(7, 1, 1);
    color: rgb(245, 242, 242);
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    height: 30px;
    margin-right: 40px;
    margin-bottom: -1px;
    margin-top: -5px;
    font-size:medium;
}

/* Login Box */
.login-container-signinp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin-top: 10px;
  margin-bottom: 0px;
}

.login-box-signinp {
  background-color: rgb(10, 2, 2);
  color: white;
  padding: 40px;
  border-radius: 8px;
  width: 350px;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 157px;
}

.login-header-signinp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.user-icon-signinp {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 20px;
}

h2 {
  margin: 5px 0;
}

form {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid gray;
}

.sign-in-btn-signinp {
  width:150px;
  height: 50px;
  background-color: rgb(249, 248, 248);
  color: rgb(6, 2, 2);
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  display: block; 
  margin:5px auto; 
}

.google-signinp {
  background-color: rgb(247, 245, 245);
  color: rgb(14, 11, 11);
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 50px;
  width: 270px;
}

.google-icon-signinp {
  width: 25px;
  height: 25px;
}
.sign-in-btn-signinp:hover{
  background-color: #b3b0b0;
  color: rgb(5, 5, 5);
}
.google-signinp:hover{
  background-color: #b3b0b0;
  color: rgb(5, 5, 5);
}